<div class="cmp-content">
    <h1>Articulos</h1>

    <section class="secction-buttons-header">
        <button mat-button class="btn-add" routerLink="/index/articulos/crear"><mat-icon>add</mat-icon>Agregar</button>
    </section>

    <table mat-table [dataSource]="larticulos" class="mat-elevation-z8 demo-table">
        <ng-container matColumnDef="codigo">
            <th mat-header-cell *matHeaderCellDef>Codigo</th>
            <td mat-cell *matCellDef="let element">{{element.codigo}}</td>
        </ng-container>

        <ng-container matColumnDef="descripcion">
            <th mat-header-cell *matHeaderCellDef>Descripción</th>
            <td mat-cell *matCellDef="let element">{{element.descripcion}}</td>
        </ng-container>

        <ng-container matColumnDef="precio">
            <th mat-header-cell *matHeaderCellDef>Precio</th>
            <td mat-cell *matCellDef="let element">{{element.precio}}</td>
        </ng-container>

        <ng-container matColumnDef="stock">
            <th mat-header-cell *matHeaderCellDef>Stock</th>
            <td mat-cell *matCellDef="let element">{{element.stock}}</td>
        </ng-container>

        <ng-container matColumnDef="modificar">
            <th mat-header-cell *matHeaderCellDef>Modificar</th>
            <td mat-cell *matCellDef="let element">
                <button mat-button (click)="modificar(element)" class="btn-warning">Modificar</button>
            </td>
        </ng-container>

        <ng-container matColumnDef="eliminar">
            <th mat-header-cell *matHeaderCellDef>Eliminar</th>
            <td mat-cell *matCellDef="let element">
                <button mat-button (click)="delete(element)" class="btn-danger">Eliminar</button>
            </td>
        </ng-container>

        <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
        <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
    </table>


</div>