.example-card {
  padding: 3rem;
  box-shadow: 10px 10px 30px rgba(17, 12, 12, 0.3);
}

.example-card:hover {
    box-shadow: 15px, 15px, 15px, rgba(3, 94, 88, 0.2);
    background-color: rgb(227, 227, 227);
}

.example-header-image {
  background-image: url('https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcQREoUZ8wUZItlKjJjKzqAfHmx9s718HdV-IA&s');
  background-size: cover;
}

img {
    max-width: 150px;
    max-height: 200px;
}

.articulos-container {
    width: 100%;

    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    gap: 20px;
}

.buttons {
    display: flex;
    gap: 10px;
}