.content {
    display: flex;
    margin-top: 100px;
    flex-direction: row;
    align-items: center;
  }

.sidebar {
    background-color: rgb(15, 0, 52);
    width: 15%;
    height: 100vh;
}

.sidebar a {
    display: flex;
    padding: 20px;
    font-size: 1.2rem;
    color: white;
    font-weight: bold;
    text-align: center;
}

a:hover {
    background-color: rgb(107, 106, 109);
}

.main-content {
    width: 85%;
    height: 100vh;
}