<div class="container">
    <section class="card">
        <form [formGroup]="formLogin">
            <mat-form-field appearance="fill">
                <mat-label>Usuario</mat-label>
                <input matInput type="text" formControlName="usuario" />
            </mat-form-field>
            
            <mat-form-field appearance="fill">
                <mat-label>Contraseña</mat-label>
                <input matInput type="password" formControlName="password" />
            </mat-form-field>

            <div class="buttons">
                <button mat-button (click)="login()" class="btn-detail">Iniciar sesión</button>

                <button mat-button class="btn-gray" (click)="cancelar()">Cancelar</button>
            </div>
            <a href="#" routerLink="/registro/cliente">Registrarme</a>
        </form>
    </section>
</div>